* {
  box-sizing: border-box;
}
header {
  height: 160px;
  border-bottom: 2px SOLID black;
  background-color: #fff;
  margin-bottom: 30px;
}
header img {
  float: left;
  height: 150px;
}
header h1 {
  float: left;
  font-size: 70px;
  font-weight: bold;
  margin: 40px 0 0 20px;
  font-family: sans-serif;
  color: rgb(80, 2, 80);
}
body {
  background-color: #eee;
}

.imgs img {
  width: 300px;
  height: 300px;
  margin: 0 10px;
  border: purple solid 1px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.imgs img:hover {
  opacity: 0.8;
  transform: scale(1.1) rotate(360deg);
  transition: 1s;
}
.imgs div {
  display: inline-block;
}
.imgs {
  float: left;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 15px;
}

h2 {
  clear: both;
  font-size: 24px;
  text-align: center;
}

#result {
  width: 25%;
  float: left;
  margin: 20px 5px 20px 50px;
  list-style: none;
  font-size: 24px;
  background-color: #fff;
  text-align: justify;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#result li {
  margin: 10px 20px;
  color: darkmagenta;
}
#resultDiv {
  margin: 10px 0 10px 20px;
}
#resultDiv span {
  font-size: 24px;
  color: rgb(80, 2, 80);
}
p {
  font-size: 24px;
  color: rgb(80, 2, 80);
  margin-bottom: 20px;
}
#attempts {
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
}

button {
  clear: both;
  position: absolute;
  top: 420px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
  background-color: rgb(80, 2, 80);
  color: #fff;
  font-size: 32px;
  padding: 10px 15px;
}
#resultBtnDiv,
#prevResultBtnDiv {
  width: 100%;
  position: relative;
}

button:hover {
  background-color: rgb(51, 2, 51);
  color: #fff;
  cursor: pointer;
  transform: scale(1.04);
}
button:active {
  transform: scale(0.8);
}
#product-name {
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}
footer p {
  margin: 50px 0 20px;
  clear: both;
  text-align: center;
}

main div p {
  margin-left: 10px;
}
.chartDiv {
  width: 1200px;
  margin: 0 auto;
}
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
