* {
  box-sizing: border-box;
}
header {
  height: 160px;
  border: 2px SOLID black;
}
header img {
  float: left;
  height: 150px;
}
header h1 {
  float: left;
  font-size: 52px;
  font-weight: bold;
  margin: 40px 0 0 20px;
}

.imgs img {
  width: 300px;
  height: 300px;
}
.imgs div {
  display: inline-block;
}
.imgs {
  float: left;
  margin-bottom: 100px;
}

h2 {
  clear: both;
  font-size: 24px;
  text-align: center;
}

#result {
  width: 30%;
  float: left;
  margin: 20px 5px 20px 50px;
  list-style: outside;
  font-size: 24px;
}
#result li {
  margin: 10px 0;
  color: darkmagenta;
}
#resultDiv {
  margin: 10px 0 10px 20px;
}
#resultDiv span {
  font-size: 24px;
  color: rgb(80, 2, 80);
}
p {
  font-size: 24px;
  color: rgb(80, 2, 80);
  margin-bottom: 20px;
}
#attempts {
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
}

button {
  clear: both;
  display: block;
  margin: 10px auto 0;
  background-color: rgb(80, 2, 80);
  color: #fff;
  font-size: 32px;
  padding: 10px 15px;
}
